name: Schedule Cron Job

on:
  schedule:
    - cron: "*/10 * * * *" # Ejecutar cada 10 minutos
  workflow_dispatch: # Permite ejecutar el flujo de trabajo manualmente desde GitHub

jobs:
  run-cron-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16" # Usa la versión de Node.js que tu proyecto necesita

      - name: Install dependencies
        run: npm install
        # No es necesario especificar working-directory si package.json está en la raíz

      - name: Run cron job
        run: node src/api/cron.js
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
